<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/table.css"/>
</head>
<body>
    <div style="margin-left: 45px; margin-top: 45px;" class="search-container">
        <form action="/results" method="post" enctype="multipart/form-data">
            <input type="text" placeholder="Search..." name="search" id="search" style="height: 35px;width: 300px;border-style: solid;font-size: 30px">
            <button type="submit" style=" height: 35px;width: 150px;font-size: 22px">Submit</button>
        </form>
    </div>
<br>
<h2 style="margin-left: 50px; font-size:30px;">Mammals: species list for Europe</h2>
{% for table in tables %}
{{ table|safe }}
{% endfor %}
<br>
{{ dictionary }}
<br>
<br>
{{ res }}

</body>
</html>
